.poster-user-field {
  margin-left: 0.3em;
  font-size: var(--font-down-1);
  color: var(--primary-medium);
  display: inline;
}

.mobile-view .topic-meta-data .names {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mobile-view .poster-user-field {
  display: inline;
  margin-left: 0.25em;
  order: 2;
}

.mobile-view .names .username, {
.mobile-view .names .first-username {
  order: 1;
}
}
